/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {

}
#nav {
    display: inline-block;
}
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0; 
    right: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li{
    
    position: relative;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px; 
    display: block;
}

#nav  > li:hover > a {
    color: black;
    background-color: #fff;
}
#nav .subnav {
    display: none;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);;
    position: absolute;
    background-color: white;
}
#nav .subnav a{
    color: #000;
    top: 100%;
    left: 0%;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}
#header .search-button{
    color: white;
    float: right;
    line-height: 46px;
    padding : 0 21px ;
    cursor: pointer;
}

#header .search-button:hover{
    background-color: #f44336;
}
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/together.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;  
    color: rgb(7, 184, 15);
    
}
#slider .heading{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    
    margin: 10px 0;
}

#slider .text-decription {
    font-size: 15px;
    color: #fff;
    background-color: black;
}
#content {
    
}
#content .content-section{
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
    padding: 64px 0px;
}



#content .section-heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
    
    letter-spacing: 4px ;
}
#khok {
    
    color : #fff;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-style: italic;
    color: rgb(148, 148, 148);
}

#content .about-us{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
}
#content .member-item{
    float: left;
    width: 33.333330%;
  
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 100px;
}
#content  .tour-section  {
    margin-top: 250px;
   /* height: 800px; */
    background-color: #000;
    
}
#content .member {
    overflow: hidden;
    font-size: 15px;
    font-weight: bolder;
}
#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-collapse: separate; 
    perspective: 1px;
    border-radius: 6px;
}

#content ul{
     background-color: #fff;
     margin-top: 40px;
     
     list-style-type: none;
}

.ticket li {
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 3px solid #ddd;
}
.ticket .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px ;
    margin-left: 16px;
}

.ticket .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

 .place-section{
     
  }

.place-item{
    margin-top: 16px;
    
    width: 33.333333%;
    
   
    
}
.place-img{
    width: 100%;
    display: block;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-head {
    font-size: 15px;
    font-weight: 600px;
}

.place-time {
    margin: 15px 0px; 
    color: #757575;
}

.place-des {
    line-height: 1.4;
}

.buy {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding:11px 16px;
    display: inline-block;
    margin-top: 12px;
}

.buy:hover{
    color: #000;
    background-color: #ccc;
}

.place-img:hover{
    opacity: 0.6;
}

.MODAL {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;

}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.ti-bag{
    margin-right: 16px;
}

.MODAL .modal-container{
    width: 900px;
    background-color: #fff;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalGoIn ease 0.4s;
}
.modal-close{
    position: absolute;
    right: 0px;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}
.MODAL.open {
    display: flex;
}
#buyticket{
    background-color: #009688;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buyticket:hover{
    opacity: 0.9;
}

.modal-body {
    padding: 16px;
}

.modal-close :hover{
    color: #ccc;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #009688;
    }
#footer {
    text-align: center;
    padding: 64px 16px;
    color: #000;
    opacity: .7;
    font-size: 18px;
}

@keyframes modalGoIn {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0px);
    }
}


/*classdungchung*/
.clear {
    clear: both;
}

.row{
    
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col-half{
    width: 50%;
}

.ic {
    padding: 10px;
}
.col-full{
    width: 100%;
}

.contact-info{
    font-size: 18px;
    line-height: 1.2;
}
.contact-contain{
    margin-top: 32px;
}

.contact-form{
    font-size: 14px;
}

input {
    border: 0;
}
.row .form-control {
    display: block ;
    border: 1px solid #000;
    padding: 6px;
    width: 100%;
    margin-bottom: 5px;
    overflow: visible;
}

#send {
    background-color: #000;
    color: #fff;
    padding: 6px;
    margin: 5px 0px 5px ;
    float: right;
    cursor: pointer;
}

.map-section img  {
    width: 100%;
}

#send:hover {
    background-color: #ccc;
    color: #000;
}

.last-step{
    margin: 15px;
}